h1 {
	text-align: center;
	border: 2px solid black;
	border-width: 2em;
}

.navlink {
	text-align: center;
}

.container {
	text-align: center;
}

.col-md-2{
	float: justify;
	background-color: #3f3f3f;
	color: white;
	border-radius: 15%;

}

.col-md-3 {
	float: right;
	background-color: #3f3f3f;
	color: white;
	border-radius: 15%;
	margin-top: 1em;
}

.homegrouppics {
	text-align: center;
	max-width: 100%;
}

.mik {
	margin-right: 5em;
	max-height: 30em;
	border: 2em solid #31ef78;
	border-radius: 25%;
	float: right;
	position: relative;
}

.malaysia {
	margin-top: 5em;
	margin-left: 5em;
	margin-bottom: 5em;
	max-height: 30em;
	min-width: 30em;
	border: 2em solid #31ef78;
	border-radius: 25%;
	float: left;
	position: relative;
}

.siblings {
	margin-top: 5em;
	margin-right: 5em;
	min-width: 30em;
	max-width: 30em;
	border: 2em solid #31ef78;
	border-radius: 25%;
	float: right;
	position: relative;

}

/*CSS for About Page*/

.list {
	text-align: center;
}

.col-md-5 {
	border: 2em solid #3f3f3f;
}

.col-md-4 {
	border: 2em solid #3f3f3f;
}



