h1 {
	text-align: center;
	border: 2px solid black;
	border-width: 2em;
}

.navlink {
	text-align: center;
}

.container {
	text-align: center;

}

.columnone {
	float: left;
}

.col-md-2 {
	float: right;
}